windows/LuwrainWindows/LuwrainWindows/bin
windows/LuwrainWindows/LuwrainWindows/obj
libs/jni4net.*
libs/LuwrainWindows.*
LuwrainWindows.sln.ide
LuwrainWindows.v14.suo
bridge/
.gradle
gradle
build
jar
lib
api
*.so
*.o
